<nav class="navbar navbar-expand-lg navbar-dark col-sm-12">
    <img src="./assets/logo.png" alt="Unidas">

    <!-- Botão responsivo -->
    <button class="navbar-toggler text-right" type="button" data-toggle="collapse" data-target="#menuResponsivo" aria-controls="menuResponsivo" aria-expanded="false" aria-label="Alterna Navegacao">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Itens do Menu -->
    <div class="collapse navbar-collapse col-sm-10" id="menuResponsivo">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']">Inicio</a>
            </li>

            <!-- Dropdown Editar -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/editar']">Editar</a>
            </li>

            <!-- Dropdown Editar -->
            <li class="nav-item"> 
                <a class="nav-link" [routerLink]="['/#']">Histórico</a>
            </li>
        </ul>

        <div class="align-self-end ml-auto">
            <button type="button" class="btn btn-primary center-block">
                <a [routerLink]="['/cadastrar']">
                    Novo Item
                </a>    
            </button>
        </div>              
        
        <ul class="navbar-nav">
            <li class="nav-item">
                <a type="button" class="nav-link" (click)="Logout()" title="Sair">Olá {{session}}</a>
            </li>
        </ul>
    </div>
</nav>